---
Title: Marin Property Management
Description: Need to add a description here
layout: landing-page
location: Marin
location_description: We want to add something Marin specific tenant placement here
---
<!-- Main CTA -->
<section class="lp-style">
    <section class="wide-padding single-col--center gradient-bg img-container lp-hero">
        <h1><%= current_page.data.location %> Property Management</h1>
        <p>Utilizing the latest technology and excellent customer service. All for <strong>$95 bucks a month.</strong> Get started for free.</p>
        <div class="input-row homepage-input">
            <input placeholder="Email Address">
            <button class="btn btn-primary">Get Started</button>
        </div> 
        <img style="max-width: 800px;" alt="Ziprent software on the devices" src="/images/software/platform-devices.png">
    </section> 
</section>

<!-- Regional Description-->
<section class="single-col--center main-padding">
    <h2>We Know Marin</h2>
    <p><%= current_page.data.location_description %></p>
    <p>At Ziprent, we aim to provide the most efficient property management experience for both tenants and homeowners. Through the perfect integration of technology and hands-on customer service, our platform provides the <strong>highest level of property monetization</strong>, <strong>maintenance</strong>, and utilization at the <strong>lowest cost possible.</strong></p>
</section>

<!-- How it works flow-->

<!-- Property Submittal -->
<section class="wide-padding two-col-right-em no-margin-top">
    <div>
        <h3>Submit Your Property</h3>
        <p>Getting started with Ziprent is as easy as typing out your address and hitting enter. You’ll get immediate access to your property dashboard. We don’t charge you a dime to see our platform. We want to get to know you first 😀. 
            </p>
    </div>
    <div class="two-col--graphic">
        <img class="img-shadow" alt="Get started submission example" src="/images/gifs/gs-example.gif">
    </div>
</section>
    
    <!-- Property Concierge -->
<section class="wide-padding two-col-left-em no-margin-top">
    <div class="stack-order two-col--graphic">
        <img class="img-shadow white-border" alt="Ziprent Concierge" src="/images/portraits/concierge.jpg">
    </div>
    <div>
        <h3>Your Personal Property Concierge</h3>
        <p>Once you property has been submitted, your personal property concierge will reach out and discuss your needs as a property owner.</p>
        <p>Need to find a tenant? Your property manager will get all the necessary cogs in motion to find you a tenant within 30 days</p>
        <p>Already have a tenant? Your manager will gather all of the appropriate details to make the transition as smooth as possible. We got you covered. </p>
    </div>
</section>
    
    <!-- Tenant Placement -->
<section class="wide-padding two-col-right-em no-margin-top">
    <div>
        <h3>Finding the Perfect Tenant</h3>
        <p>Should you need to find a tenant at any given point, we’ve come up with a tried and true method of finding high quality tenants within 30 days. In the off chance that our tenant doesn’t work out, we provide all of properties with a Rental Guarantee** as a safety net.</p>
    </div>
    <div class="two-col--graphic">
        <img alt="Ziprent tech" src="/images/software/test-stack.png">
    </div>
</section>
    
    <!-- Property Management -->
<section class="wide-padding two-col-left-em  no-margin-top">
    <div class="stack-order two-col--graphic">
        <img class="img-shadow white-border" alt="Ziprent Team" src="/images/portraits/person-computer.jpg">
    </div>
    <div>
        <h3>Taking Care of the Rest</h3>
        <p>With a tenant in place we take care of rest. Everything from rent collection and accounting to maintenance requests, we strive to make the process as trouble free as possible. With a 24/7 customer support team, you can be confident any issues will be taken of no matter what the time of day.</p>
    </div>
</section>

<!-- Cusotmer Love section-->
<section>
    Customer love
</section>

<!-- Bottom CTA -->
<%= partial 'partials/bottom-cta-2' %>