@import "fonts/poppins.css";

// Main Colors
$blue: #7FBAFA;
$darkblue: #2A4059;
$grey: #4a4a4a;
$green: #0dab76;
$snow: #f9fafb;

// Bulma Components
@import "bulma/utilities/_all.scss";
@import "bulma/components/_navbar.scss";
@import "bulma/components/_button.scss";

// Utilities
@import "utilities/dynamic-font.css.scss";
@import "utilities/breakpoints.css.scss";
@import "utilities/buttons.css.scss";

/********* Global Styles ***********/

*{
	box-sizing: border-box;
}

html {
	box-sizing: border-box;
	height: 100%;
	font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	@include fluid-type(font-size, $minScreen, $maxScreen, $minFont, $maxFont);
}

body {
  line-height: $baseline;
  font-size: 16px;
  background-color: #fff;
  color: $grey;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.6;  
  margin: 0;
  padding: 0;
}

hr{
  border-style: solid;
  color: #f0f0f0;
  border-width: 0.5px;
}

a {
  color: inherit;
  text-decoration: none;
  &:hover{
    cursor: pointer;
    color: $blue;
  }
}

a.blue-link{
  color:$blue;
  &:hover{
    cursor: pointer;
    opacity: 0.9;
  }
}

a.large-underline{
  color: inherit; 
  font-size: 16px;
  text-decoration: underline;

  &::after{
    border-bottom: 2px solid tomato;
  }

  &:hover{
    cursor: pointer;
    color: $blue;
  }
}

input {
  font-size: 16px;
  padding: 20px;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  box-sizing: border-box;

  @include for-size(phone-only) {
    width: 225px;
    margin-bottom: 10px;
  }
  @include for-size(tablet-portrait-up) {
    width: 225px;
  }
  @include for-size(tablet-landscape-up) {
  width: 225px;
  }
}

figcaption {
  font-size: 12px;
}

p.quote{
  font-weight: 300;
  font-style: italic;
  font-size: 16px; 
}

p.quote-customer{
  font-size: 14px;
  font-weight: 500;
}

/********* Helper Styles ***********/

.no-margin-top{
  h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
  }
}

.large-paragraph{
  p{
    font-size: 18px;
  }
}

.align-center-end{
  justify-self: end;
  align-self: center;
}

.align-center{
  align-self: center;
  justify-self: center;
}

.segment-list{
  padding: 0;
  li{
    list-style: none;
    margin: 0; 
    border-bottom: 1px solid #eee;
    padding: 15px 0px;
  }
}

/********* Image Styles / Helpers ***********/

.img-container{
  img {width: 100%;}
}

.img-600{
  img{
    max-width: 600px;
  }
}

.img-circle {
  border-radius: 50%;
  max-width: 12rem;
}

.img-shadow {
  border: 1px solid #c7c7c7; 
  border-radius: 2px;
  box-shadow: 2px 2px 20px #979797a3;
}

/********* Background Helpers***********/

.grey-bg{
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
  background:#f3f3f3;
}

.snow-bg{
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  background: $snow;
}

.snow-bg-bottom{
  border-top: 1px solid #e7e7e7;
  background: $snow;
}

.grad-bg-1{
  background: url(/images/svg/bg-1.svg) no-repeat;
  background-size: cover;
}

.grad-bg-2{
  background: url(/images/svg/bg-2.svg) no-repeat;
  background-size: cover;
}

.grad-bg-3{
  background: url(/images/svg/bg-3.svg) no-repeat;
  background-size: cover;
}

.grad-bg-4{
  background: url(/images/svg/bg-4.svg) no-repeat;
  background-size: cover;
}

/********* Global Paddings ***********/

.main-padding {
  @include for-size(phone-only){
    padding: 3rem;
  }

  @include for-size(tablet-portrait-up){
    padding: 3rem 8rem;
  }

  @include for-size(tablet-landscape-up){
    padding: 3rem 12rem;
  }
}

.wide-padding{
  @include for-size(phone-only){
    padding: 3rem;
  }

  @include for-size(tablet-portrait-up){
    padding: 3rem 6rem;
  }

  @include for-size(tablet-landscape-up) {
    padding: 4rem 6rem;
  }
}

.price-padding{
  @include for-size(tablet-portrait-up){
    padding: 2rem;
  }

  @include for-size(tablet-landscape-up){
    padding: 0rem 10rem 3rem;
  }
}

/********* Nav Specific Stylings ***********/
.has-box-shadow {
  box-shadow: 0 1px 1px rgba(0,0,0,0.15);
}

.has-padding {
  @include for-size(phone-only){
    padding: 0;
  }

  @include for-size(tablet-portrait-up) {
    padding: 0 4rem;
  }

  @include for-size(tablet-landscape-up){
    padding: 0 7rem;
  }
}


// Main Page Container
.main-container {
  max-width: 1600px;
}

/********* Hero Containers / Helpers ***********/

.homepage-hero-graphic{
  img{
    width: 100%;
    max-width: 500px;
  }
}

.homepage-hero-cta{
  h1{
    line-height: 1.3;
    margin-top: 0;
  }

  p{
    font-size: 20px;
  }
}

.homepage-input{
  margin: 2rem 0rem;
}

.two-col-home-hero{

  @include for-size(phone-only){
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    padding: 2rem;
  }

  @include for-size(tablet-portrait-up){
    display:grid;
    grid-template-columns: 1fr; 
    grid-template-rows: auto;
    padding: 4rem 6rem 3rem;
  }

  @include for-size(tablet-landscape-up){
    grid-template-columns: minmax(100px, 500px) minmax(100px, 550px);
    grid-column-gap: 100px;
  }

  .hero-img-order{
    @include for-size(phone-only){order:1;}
    @include for-size(tablet-portrait-up){order: 1;}
    @include for-size(tablet-landscape-up){order: 0;}
  }
}

.two-col-property-hero{

  @include for-size(phone-only){
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    padding: 2rem;
  }

  @include for-size(tablet-portrait-up){
    display:grid;
    grid-template-columns: 1fr; 
    grid-template-rows: auto;
    padding: 4rem 0rem 3rem 6rem;
  }

  @include for-size(tablet-landscape-up){
    grid-template-columns: minmax(100px, 500px) 1fr;
    grid-column-gap: 75px;
  }

  .hero-img-order{
    @include for-size(phone-only){order:1;}
    @include for-size(tablet-portrait-up){order: 1;}
    @include for-size(tablet-landscape-up){order: 0;}
  }
}

/********* Layout Containers ***********/

// Single Col Helpers

.single-col-center{
  text-align: center;
  img{
    width: 100%;
  }
}

.single-col-left{
  text-align: left;
}


// Two Col Helpers

.two-col-container {

  h2{margin-top:0;}
  
  @include for-size (phone-only){
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-row-gap: 25px;
  }

  @include for-size (tablet-portrait-up){
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  @include for-size(tablet-landscape-up){
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
    grid-column-gap: 75px;
  }
}

.two-col-graphic{
  img{width: 100%;}
}

.two-col--cta{
  p{
    font-size: 18px;
  }
}

.stack-order{
  @include for-size(phone-only){order: 1;}
  @include for-size(tablet-portrait-up){order: 1;}
  @include for-size(tablet-landscape-up){order: 0;}
}


// 3 Col Helpers

.three-col-container {

  @include for-size(phone-only){
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  @include for-size(tablet-portrait-up){
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  @include for-size(tablet-landscape-up){
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
  }
  
}

// Four Col Helper

.four-col-container{
  @include for-size(phone-only){
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-row-gap: 25px;
  }

  @include for-size(tablet-portrait-up){
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
    grid-row-gap: 25px;
    grid-column-gap: 25px;
  }

  @include for-size(tablet-landscape-up){
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 30px;
    grid-row-gap: 50px;
  }
}

/********* Other Grids *********/
.syn-grid{
  img{
    max-width: 200px;
    filter: grayscale(100%);
  }

  @include for-size(phone-only){
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 6fr;
    padding-top: 2%;
    figure{
      justify-self: center;
      align-self: center;
    }
  }

  @include for-size(tablet-portrait-up){
    margin-top: 3%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding-top: 2%;
    figure{
      justify-self: center;
      align-self: center;
    }
  }

  @include for-size(tablet-landscape-up){
    grid-template-columns: repeat(3, 1fr);
  }
}

.customer-card-grid{
  @include for-size(phone-only){
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-row-gap: 25px;
    margin-top: 20px; 
  }

  @include for-size(tablet-portrait-up){
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-row-gap: 25px; 
    margin-top: 30px;
  }

  @include for-size(tablet-landscape-up){
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr); 
    grid-template-rows: auto;;
    grid-column-gap: 50px;
    grid-row-gap: 50px; 
  }

  .customer-card{
    padding: 1.5rem;
    border: 1px solid #eee;
    background-color: #fff; 
    display: grid;
    grid-template-columns: 1fr 3.5fr;
    grid-column-gap: 20px;

    .customer-profile-img{
      img{
        border-radius: 50%;
        max-width: 75px;
      }
    }

    .customer-testimonials{
      p{
        margin: 0;
        font-size: 14px;
        text-align: left;
      }

      .customer-info{
        margin-top: 10px;
      }
    }
  }
}


// Pricing Grid

.pricing-grid-desktop {

  @include for-size(phone-only) {
    display: none;
  }

  @include for-size(tablet-portrait-up){
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
  }

  div{
    padding: 1.5rem;
    width: 100%;
    border: 1px solid #eeeeee52
  }

  .pricing-service-title{
    font-size: 18px;
    font-weight: 500;
  }

  .pricing-checkmark {
    justify-self: start;
  }

  .pricing-graphic{
    align-self: end;
    border: none;
    padding: 0 1rem;
    img{width: 100%;}
  }

  i{
    color: $green;
    font-size: 24px;
  }
}

.pricing-grid-mobile {
  @include for-size(phone-only){
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;

    .pricing-mobile-card{
      padding: 1rem;
      margin: 3rem;
      border: 1px solid #d4d4d4;
      border-radius: 4px;
      box-shadow: 4px 4px 5px 0px rgba(175, 175, 175, 0.2);

      hr{
        color: rgba($color: #979797, $alpha: .30);
        margin: 30px 0px 20px 0px;
      }

      ul{
        list-style: none;
        padding: 0;
        margin: 0;
      }
    
      ul li{
        padding: 10px 0px;
        font-weight: 400;
        font-size: 18px;
      }
      i {
        color: $green;
        padding-right: 10px;
      }
    }
  }

  @include for-size(tablet-portrait-up){
    display: none;
  }
}

// Customer Success

.customer-featured{
  h5{margin-top: 0;}
}

// Team Page
.team-style{
  h4 {margin-bottom: 5px;}

  p {
    margin: 0;
    font-weight: 300;
  }

}

// Renters

.renters{
  img{
    @include for-size(phone-only){
      width: 100%;
      margin-top: 25px;
    }

    @include for-size(tablet-portrait-up){
      margin-top: 25px; 
      width: 100%; 
    }

    @include for-size(tablet-landscape-up){
      width: 450px;
    }
  }

  input{
    width: 100%;
  }
}

// Get Started Layout
.get-started-grid{
  @include for-size(phone-only){
    display: grid;
    grid-template-rows: auto;
    grid-row-gap: 25px; 
    padding: 2rem; 
  }

  @include for-size(tablet-portrait-up){
    display: grid;
    grid-template-rows: auto;
    grid-row-gap: 25px; 
    padding: 3rem;  
  }

  @include for-size(tablet-landscape-up){
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 100px; 
    padding: 4rem 12rem; 
  }

  .gs-logo{
    @include for-size(phone-only){
      justify-self: center;
    }

    @include for-size(tablet-portrait-up){
      justify-self: center; 
    }

    @include for-size(tablet-landscape-up){
      justify-self: end;
    }

    img{
      max-width: 150px;
    }
  }
}

.gs-form-container{
  p{
    font-weight: 300;
  }
}

.gs-form > form > input {
  display: block;
  margin: 20px 0px; 
  width: 100%; 
  border-radius: 2px;
}

.input-wrapper{
  input {

    @include for-size(phone-only){
      width: 100%;
      margin: 20px 0px; 
    }

    @include for-size(tablet-portrait-up){
      width: 100%;
      margin: 20px 0px;
    }

    @include for-size(tablet-landscape-up){
      width: 49.5%;
      margin: 0px;
    }
  }
}

.form-button-row{
  margin: 40px 0px;
  p{
    font-size: 14px; 
  }
}

//Footer Styles
.footer{
  background-color: white;
  border-top: 1px solid #e7e7e7;
  a{
    color: inherit; 
    font-size: 12px;
    &:hover {
      color: $blue;
    }
  }

  ul{
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li{
    margin: 10px 0px;
  }
}

.footer_icons {
  display: flex;
  justify-content: left;
  padding: 25px 0px; 

  a {
    padding-right: 20px;
  }
}

.footer_copyright{
  font-size: 10px; 
  text-align: center; 
  color: inherit; 
  padding-bottom: 10px;
}

.footer-grid{
  @include for-size(phone-only){
    display: grid;
    grid-template-rows: auto;
  }

  @include for-size(tablet-portrait-up){
    display: grid;
    grid-template-rows: auto;
  }

  @include for-size(tablet-landscape-up){
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
  }
}

.footer-logo{
  img{
    max-width: 75px;
  }
}