<section class="two-col-container snow-bg-bottom wide-padding large-paragraph">
    <div>
        <h2>Sign Up for free!</h2>
        <p>Get immediately access to your property dashboard.</p> 
    </div> 
    <div class="align-center-end">
        <div>
            <div class="input-row">
                <input placeholder="Email Address">
                <button class="btn btn-secondary-solid">Get Started</button>
            </div> 
        </div>
    </div>
</section>