<section class="two-col-container snow-bg-bottom wide-padding large-paragraph">
    <div>
        <h2>Sign Up!</h2>
        <p>Get immediately access to your property dashboard.</p> 
    </div> 
    <div class="align-center-end">
        <div>
            <div class="input-row">
                <input placeholder="Email Address">
                <a href="/get-started"><button class="btn btn-primary">Get Started</button></a>
            </div> 
        </div>
    </div>
</section>