<section class="two-col-container snow-bg-bottom wide-padding large-paragraph">
    <div>
        <h2>Sign Up for free!</h2>
        <p>Get immediately access to your property dashboard.</p> 
    </div> 
    <div class="align-center-end">
        <div>
            <button class="btn btn-secondary-solid"><a href="/get-started">Sign Up Free</a></button>
            <button class="btn btn-secondary"><a href="/pricing">Pricing</a></button>
        </div>
    </div>
</section>
