<hr>
<section class="bottom-cta single-col--center main-padding no-margin-top"> 
    <h2>Get Started for Free</h2>
    <p>We don't charge you until we deliver</p>
    <div class="input-row">
        <input placeholder="Enter Your Address">
        <button class="btn btn-primary">Get Started</button>
    </div>
</section>