<div class="customer-card-grid">
    <!-- Customer 1 -->
    <div class="customer-card">
        <div class="customer-profile-img">
            <img src="/images/portraits/nic-v.jpg">
        </div>
        <div class="customer-testimonials">
        <p>“Ziprent has gotten me to a point where the property management is completely hands-off, and my tenants are happy with it also!”</p>
        <div class="customer-info">
            <p>Nicolas V. - <a href="https://www.yelp.com/biz/ziprent-tiburon" target="_blank">Yelp</a></p>
        </div>
        </div>
    </div>
    <div class="customer-card">
        <div class="customer-profile-img">
            <img src="/images/portraits/shannon-square.jpg">
        </div>
        <div class="customer-testimonials">
            <p>Ziprent was amazing. They created the online listing and had our house rented within 48 hours of it being posted. I would recommend them for anyone who is looking for tenants.</p>
            <div class="customer-info">
            <p>Shannon F. - <a href="https://www.thumbtack.com/-Belvedere-Tiburon-CA/service/3712812" target="_blank">Thumbtack</a></p>
            </div>
        </div>
    </div>

    <div class="customer-card">
        <div class="customer-profile-img">
            <img src="/images/portraits/katrina.jpg">
        </div>
        <div class="customer-testimonials">
            <p>"[Ziprent] took care of all of the showings, ran a credit check, and helped me pick the best tenant for the property. They also ensured that any of the tenants' needs are taken care of."</p>
            <div class="customer-info">
            <p>Katrina S. - <a href="https://www.yelp.com/biz/ziprent-tiburon" target="_blank">Yelp</a></p>
            </div>
        </div>
    </div>
    <div class="customer-card">
        <div class="customer-profile-img">
            <img src="/images/portraits/gregg.jpg">
        </div>
        <div class="customer-testimonials">
            <p>"...Ziprent has exceeded my expectations and actually has saved me quite a bit of time effortlessly getting my properties filled with tenants."</p>
            <div class="customer-info">
            <p>Gregg H. - <a href="https://www.facebook.com/ziprent/" target="_blank">Facebook</a></p>
            </div>
        </div>
    </div>   
</div>