---
title: Customer Success | Ziprent
description: Ziprent aims to provide the most efficient property management experience for homeowners. Tntegrating technology and hands-on customer service to provide the highest level of property monetization.
layout: main
---

<section class="single-col--center main-padding img-container">
    <h1>Shannon Frazen</h1>
    <img class="img-circle" alt="Shannon Portrait" src="/images/portraits/shannon.jpg">
    <p>We sat down with Shannon to discuss her experience with Ziprent. Shannon was initially looking for tenant placement for her property in San Jose. Take a look at her Ziprent experience below!</p>
    <section class="single-col--left">
        <h4>How did you hear about Ziprent?</h4>
        <blockquote>I googled "property managers near me" and found Ziprent.</blockquote>
        <h4>Before using our service, what products or services did you use to find renters?</h4>
        <blockquote>This was my first time looking for a tenant.</blockquote>
        <h4>Were you comparing other products or services? Why did you choose us?</h4>
        <blockquote>The main reason I chose Ziprent was because it made sense that there could be a more efficient way of doing property management by leveraging technology. The traditional property management company seemed expensive and inefficient. I also chose Ziprent because the cost really made sense. After talking with the founder, I totally trusted them.</blockquote>
        <h4>What was your Ziprent experience like? Can you describe the process in detail, from initial contact through signing a lease with a new renter?</h4>
        <blockquote>I initially made a request online. At first, it sounded too good to be true.Then, I spoke with the founder to ask him a lot of questions and eliminate any skepticism that I had. Next, I was called by my main contact Noah who was like a personal property management concierge. He did everything from arranging the pictures of the property with the photographer, putting up the listing, handling the background checks and screening of applicants, and finally, he made the appointments for showing the property.</blockquote>
        <blockquote> Noah kept me informed every step of the way and handled everything on my behalf. The property listing went up late one night and we had inquiries by the time I woke up the next day. The property was rented about 48 hours later. Noah was amazing and it could not have been an easier process.</blockquote>
        <h4>What is your favorite feature or part of our service? Why?</h4>
        <blockquote>I love the fact that you can leverage technology for things like the listing, tenant screenings and rent payment, but still have the personal touch of a property manager (concierge) you can call and talk to at any time. It is the perfect blend of technology and customer service.</blockquote>
        <h4>Would you recommend Ziprent to other homeowners looking to rent out their property?</h4>
        <blockquote>Yes!</blockquote>
    </section>
</section>
<%= partial 'partials/bottom-cta' %>