---
title: Customer Success | Ziprent
description: Ziprent aims to provide the most efficient property management experience for homeowners. Tntegrating technology and hands-on customer service to provide the highest level of property monetization. 
layout: main
---
<section class="single-col--center main-padding">
    <h1> Mai Iharar</h1>
    <img class="img-circle" alt="SF building front" src="/images/property/folsom-2.jpg">
    <p><%= lorem.sentences 2 %></p>
    <section class="single-col--left">
        <h4>How did you hear about Ziprent?</h4>
        <blockquote>Thumbtack</blockquote>
        <h4>Before using our service, what products or services did you use to find renters?</h4>
        <blockquote>A friend who was helping property manage had posted on a few sites when she found my last tenant in 2017 - Craigslist, Trulia, Zillow.</blockquote>
        <h4>Were you comparing other products or services? Why did you choose us?</h4>
        <blockquote>Fixed fee and the streamlined online system that made it so easy to manage from abroad.</blockquote>
        <h4>What was your Ziprent experience like? Can you describe the process in detail, from initial contact through signing a lease with a new renter?</h4>
        <blockquote>Arvand reached out to me almost immediately after I posted on Thumbtack and walked me through the process. After making the decision to move forward with them, they immediately provided marketing copy and recommended list price and the property was listed within a day after I shared photos. Arranging for keys to be handed over was painless, even from abroad, because the team was so flexible. I received frequent updates on interest level and the property was rented in a week.</blockquote>
        <h4>What is your favorite feature or part of our service? Why?</h4>
        <blockquote>Visibility and accessibility. I love that all necessary documents are housed in a portal and that information is self-serve. Also, the team is incredible. So responsive and efficient.</blockquote>
        <h4>Would you recommend Ziprent to other homeowners looking to rent out their property?</h4>
        <blockquote>Yes!</blockquote>
    </section>
</section>

<%= partial 'partials/bottom-cta' %>