---
title: Login | Ziprent
layout: get-started
---

<section class="get-started-grid">
    <div class="gs-logo">
        <img alt="Ziprent Circle logo" src="/images/logos/circle-blue.png"> 
    </div>

    <div class="no-margin-top gs-form-container">
        <h2>Welcome Back!</h2>
        <p>Don't have an account? <a class="blue-link" href="/get-started">Get Started</a></p>
        <div class="gs-form">
            <form>
                <input placeholder="Email">
                <input placeholder="Password">
            </form>
        </div>
        <div class="form-button-row">
            <div>
                <button class="btn btn-secondary-solid">Login</button>
            </div>
        </div>
        <div class="footer_copyright" style="text-align: left; position: relative;">
            <p>Copyright 2019 ZipRent. All Rights Reserved. Ziprent is made with ❤️ in Tiburon, CA. CalBRE: #01926609</p>
        </div> 
    </div>
</section>