---
title: About Us | Ziprent
description: We are a team of technologists tasked with shaking up the the property management industry.
---

<!-- Top CTA -->
<section class="main-padding">
    <h1>Making property management simpler, easier, and more efficient</h1>
    <p>At Ziprent, we aim to provide the most efficient property management experience for our tenants, landlords and property managers. Through the perfect integration of technology and hands-on customer service, our platform provides the <strong>highest level of property monetization</strong>, <strong>maintenance</strong>, and utilization at the <strong>lowest cost possible.</strong></p>
</section>

<!-- Single col graphic -->
<section>
</section>

<section class="main-padding">
    <h2>Our Founding Story</h2>
    <img class="img-circle" alt="Arvand Portrait" src="/images/portraits/arvand.jpg">
    <p>Arvand Sabetian founded his first company at the age of 17 and sold it to a publicly traded company in 2014. He attributes much of the success to his philosophy behind providing world-class customer service and by bringing the best people together with the right technology. In everything he does, Arvand aims to find the harmony between automation and quality human interaction to obtain the best possible result.</p>
    <p>Since 2012, Arvand has acquired rental units throughout California and currently owns 100+ multi-family and single family units. When hiring property managers to help with different aspects of his properties' management, he experienced first hand the inefficiencies and inadequacies that exist in traditional property management firms. So, he set out to create the next generation property management company. His approach to property management is one that incorporates quality customer service alongside today's technological advances to make the process of renting a property easy, efficient and straight-forward for all parties.</p>
</section>

