---
title: Areas Served | Ziprent
description: We are a team of technologists tasked with shaking up the the property management industry.
layout: main
---

<section class="single-col-center main-padding large-paragraph">
    <h1>Areas we serve</h1>
    <p>At Ziprent we leverage technology to make property management as streamlined as possible, but we also understand the needs of communities all over. Here is our list of communities that we know like the back of our hand.</p>

    <!-- County List Section -->
    <section class="three-col-container text-left">
           <div>
               <h4><a href="/lp/sonoma-county">Alameda County</a></h4>
               <ul class="list">
                   <li>Oakland</li>
                   <li>Fremont</li>
                   <li>Hayward</li>
               </ul>
            </div>

            <div>
                <h4>Sonoma County</h4>
                <ul class="list">
                    <li>Santa Rosa</li>
                    <li>Petaluma</li>
                    <li>Rohnert Park</li>
                </ul>
            </div>
            <div>
                <h4>Marin County</h4>
                <ul class="list">
                    <li>San Rafael</li>
                    <li>Novato</li>
                    <li>Mill Valley</li>
                </ul>
            </div>
    </section>

</section>
<%= partial 'partials/bottom-cta-2' %>