---
title: Customer Success | Ziprent
description: Ziprent aims to provide the most efficient property management experience for homeowners. Tntegrating technology and hands-on customer service to provide the highest level of property monetization.
layout: main
---

<section class="single-col-center main-padding">
    <h1>Customer Success Stories</h1>
    <!-- Adjust this copy-->
    <p>See how Ziprent has helped property owners</p>
</section>

<!-- Featured Case Study: Shannon -->
<section class="two-col-container main-padding customer-featured">
    <div>
        <h5>Featured Customer</h5>
        <h2>Shannon Frazen</h2>
        <!-- Insert Pull Quote -->
        <p><%= lorem.sentences 5 %></p>
        <a href="/case-studies/case-study-shannon"><button class="btn btn-secondary-solid">Read Her Story</button></a>
    </div>
    <div class="two-col-graphic">
        <img class="img-shadow white-border" alt="Shannon Portrait" src="/images/portraits/shannon.jpg">
    </div>
</section>

<!-- Featured Case Study: Mai -->

<section class="two-col-container main-padding customer-featured">
    <div>
        <h5>Featured Customer</h5>
        <h2>Mai Ihara</h2>
        <!-- Insert Pull Quote -->
        <p><%= lorem.sentences 5 %></p>
        <a href="/case-studies/case-study-mai"><button class="btn btn-secondary-solid">Read Her Story</button></a>
    </div>
    <div class="two-col-graphic">
        <img class="img-shadow white-border" alt="SF building front" src="/images/property/folsom-2.jpg">
    </div>
</section


<!-- Bottom CTA -->
<%= partial 'partials/bottom-cta-2' %>