---
title: FAQ | Ziprent
description: We are a team of technologists tasked with shaking up the the property management industry.
layout: main
---

<section class="main-padding">
    <section class="single-col-center large-paragraph">
        <h1>FAQ</h1>
        <p>You got questions, we've got answers</p>
    </section>

    <section class="single-col-left">
        <h2>General</h2>
        <h4><a class="toggle" href="#example3">Is Ziprent licensed?</a></h4>
        <div class="toggle-content" id="example3">
            <p>Yes, we have a valid CA brokers license: CalBRE: #01926609</p>
        </div>
        <h4><a class="toggle" href="#example3">Is Ziprent licensed?</a></h4>
        <div class="toggle-content" id="example3">
            <p>Yes, we have a valid CA brokers license: CalBRE: #01926609</p>
        </div>
        <h4><a class="toggle" href="#example3">Is Ziprent licensed?</a></h4>
        <div class="toggle-content" id="example3">
            <p>Yes, we have a valid CA brokers license: CalBRE: #01926609</p>
        </div>
        <h2>Homeowners</h2>
        <h4><a class="toggle" href="#example3">Is Ziprent licensed?</a></h4>
        <div class="toggle-content" id="example3">
            <p>Yes, we have a valid CA brokers license: CalBRE: #01926609</p>
        </div>
        <h4><a class="toggle" href="#example3">Is Ziprent licensed?</a></h4>
        <div class="toggle-content" id="example3">
            <p>Yes, we have a valid CA brokers license: CalBRE: #01926609</p>
        </div>
        <h4><a class="toggle" href="#example3">Is Ziprent licensed?</a></h4>
        <div class="toggle-content" id="example3">
            <p>Yes, we have a valid CA brokers license: CalBRE: #01926609</p>
        </div>
        <h2>Renters</h2>
        <h4><a class="toggle" href="#example3">Is Ziprent licensed?</a></h4>
        <div class="toggle-content" id="example3">
            <p>Yes, we have a valid CA brokers license: CalBRE: #01926609</p>
        </div><h4><a class="toggle" href="#example3">Is Ziprent licensed?</a></h4>
        <div class="toggle-content" id="example3">
            <p>Yes, we have a valid CA brokers license: CalBRE: #01926609</p>
        </div><h4><a class="toggle" href="#example3">Is Ziprent licensed?</a></h4>
        <div class="toggle-content" id="example3">
            <p>Yes, we have a valid CA brokers license: CalBRE: #01926609</p>
        </div>
    </section>
</section> 


