---
title: Sign Up | Ziprent
description: Sign up for property management for free with Ziprent.
layout: get-started
---

<section class="get-started-grid">
    <div class="gs-logo">
        <img alt="Ziprent Circle logo" src="/images/logos/circle-blue.png"> 
    </div>

    <div class="no-margin-top gs-form-container">
        <h2>Get the process started for free</h2>
        <p>We got it from here. Kick back and relax while we get your property taken care of.</p> 
        <p>Already have an account? <a class="blue-link" href="/login">Log in</a></p>
        <p>Looking to rent a property? <a class="blue-link" href="/tenant-showing-application">Click Here</a></p>
        <div class="gs-form">
            <form>
                <input placeholder="Name">
                <input placeholder="Email">
                <input placeholder="Phone">
                <div class="input-wrapper">
                    <input placeholder="Address">
                    <input placeholder="$ Target Rent">
                </div>
            </form>
        </div>
        <div class="two-col-container form-button-row">
            <div>
                <button class="btn btn-secondary-solid">Get Started!</button>
            </div>
            <div style="align-self: top;">
                <p>By clicking this button you agree to Ziprent's <a class="blue-link" href="https://www.iubenda.com/privacy-policy/53208652">Terms of Use.</a></p>
            </div>
        </div>
        <div class="footer_copyright" style="text-align: left; position: relative;">
            <p>Copyright 2019 ZipRent. All Rights Reserved. Ziprent is made with ❤️ in Tiburon, CA. CalBRE: #01926609</p>
        </div> 
    </div>
</section>