---
title: Transparent Pricing | Ziprent
description: Ziprent property management pricing
layout: main
---

<section class="single-col--center main-padding">
    <h1> Pricing made simple</h1>
    <!--Adjust this hack -->
    <p style="font-size: 18px;"> We believe in transparent and flat fee pricing. Don't let other property managers fool you into thinking they need to take a percentage of your income. Keep your money where it belongs, in <strong>your</strong> pocket.</p>
</section>

<!-- Desktop Pricing Grid -->
<section class="pricing-grid-desktop price-padding">
    <!-- Grid headers -->
    <div class="pricing-graphic">
        <img alt="Pricing grid illustration" src="/images/illustrations/pricing-grid-graphic.png">
    </div>

    <div>
        <h2>Tenant Placement</h2>
        <h3>$500</h3>
        <p>Due at lease signing and security deposit reciept. No cost to get started!</p>
        <p><strong>Fully refundable</strong> if we don’t find you tenant within 30 days*</p>
        <button class="btn btn-secondary-solid">Get Started</button>
    </div>

    <div>
        <h2>Property Management</h2>
        <h3>$95 per month</h3>
        <p>Per property. Regardless of how much you collect in rent. No percentage nonsense.</p>
        <p>$500 for tenant placemen if you need it.</p>
        <button class="btn btn-primary">Get Started</button>
    </div>

    <!-- Service Row -->
    <div class="pricing-service-title">
        Professional Photography
    </div>
    <div class="pricing-checkmark">
        <i class="fas fa-check"></i>
    </div>
    <div class="pricing-checkmark">
        <i class="fas fa-check"></i>
    </div>

    <!-- Service Row -->
    <div class="pricing-service-title">
        Property Listing
    </div>
    <div class="pricing-checkmark">
        <i class="fas fa-check"></i>
    </div>
    <div class="pricing-checkmark">
        <i class="fas fa-check"></i>
    </div>

    <!-- Service Row -->
    <div class="pricing-service-title">
        Property Concierge
    </div>
    <div class="pricing-checkmark">
        <i class="fas fa-check"></i>
    </div>
    <div class="pricing-checkmark">
        <i class="fas fa-check"></i>
    </div>

    <!-- Service Row -->
    <div class="pricing-service-title">
        On-Demand Showing
    </div>
    <div class="pricing-checkmark">
        <i class="fas fa-check"></i>
    </div>
    <div class="pricing-checkmark">
        <i class="fas fa-check"></i>
    </div>

    <!-- Service Row -->
    <div class="pricing-service-title">
        Tenant Screening
    </div>
    <div class="pricing-checkmark">
        <i class="fas fa-check"></i>
    </div>
    <div class="pricing-checkmark">
        <i class="fas fa-check"></i>
    </div>

    <!-- Service Row -->
    <div class="pricing-service-title">
        Automated Lease Generation
    </div>
    <div class="pricing-checkmark">
        <i class="fas fa-check"></i>
    </div>
    <div class="pricing-checkmark">
        <i class="fas fa-check"></i>
    </div>

    <!-- Service Row -->
    <div class="pricing-service-title">
        Online Rental Payments
    </div>
    <div class="pricing-checkmark">
    </div>
    <div class="pricing-checkmark">
        <i class="fas fa-check"></i>
    </div>

    <!-- Service Row -->
    <div class="pricing-service-title">
        Rental Maintenance
    </div>
    <div class="pricing-checkmark">
    </div>
    <div class="pricing-checkmark">
        <i class="fas fa-check"></i>
    </div>

    <!-- Service Row -->
    <div class="pricing-service-title">
        Rent Guarantee**
    </div>
    <div class="pricing-checkmark">
    </div>
    <div class="pricing-checkmark">
        <i class="fas fa-check"></i>
    </div>

    <!-- Service Row -->
    <div class="pricing-service-title">
        24/7 Customer Support
    </div>
    <div class="pricing-checkmark">
    </div>
    <div class="pricing-checkmark">
        <i class="fas fa-check"></i>
    </div>
</section>

<!-- Mobile Pricing Cards -->
<section class="pricing-grid-mobile">
    <div class="pricing-mobile-card">
        <h2>Property Management</h2>
        <h3>$95 per month</h3>
        <p>Per property. Regardless of how much you collect in rent.</p>
        <p>$500 for tenant placement if you need it.</p>
        <button class="btn btn-primary">Get Started</button>
        <hr>
        <ul>
            <li><i class="fas fa-check"></i>Professional Photos</li>
            <li><i class="fas fa-check"></i>Property Listing</li>
            <li><i class="fas fa-check"></i>Property Concierge</li>
            <li><i class="fas fa-check"></i>On-Demand Showing</li>
            <li><i class="fas fa-check"></i>Tenant Screening</li>
            <li><i class="fas fa-check"></i>Automated Lease Generation</li>
            <li><i class="fas fa-check"></i>Automated Online Rental Payment</li>
            <li><i class="fas fa-check"></i>Rental Maintenance</li>
            <li><i class="fas fa-check"></i>Rent Guarantee**</li>
        </ul>
    </div> 

    <div class="pricing-mobile-card">
        <h2>Tenant Placement</h2>
        <h3>$500</h3>
        <p>Due at lease signing and security deposit reciept. No cost to get started!</p>
        <p><strong>Fully refundable</strong> if we don’t find you tenant within 30 days*</p>
        <button class="btn btn-secondary-solid">Get Started</button>
        <hr>
        <ul>
            <li><i class="fas fa-check"></i>Professional Photos</li>
            <li><i class="fas fa-check"></i>Property Listing</li>
            <li><i class="fas fa-check"></i>Property Concierge</li>
            <li><i class="fas fa-check"></i>On-Demand Showing</li>
            <li><i class="fas fa-check"></i>Tenant Screening</li>
            <li><i class="fas fa-check"></i>Automated Lease Generation</li>
            <li><i class="fas fa-check"></i>Automated Online Rental Payment</li>
        </ul>
    </div>
</section>

<!-- Bottom CTA -->
<%= partial 'partials/bottom-cta-2' %>


