---
title: Property Management Services | Ziprent
description: add
layout: main
---

<section class="single-col-center main-padding grad-bg-3">
    <h1>Managing your property</h1>
    <h2>$95 per month</h2>
    <p>We've developed the perfect set of solutions to handle any type of property management. Whether it be a single family home or a multi-family buiding, we can manage it efficiency with the utmost transparancy.</p>
</section>

<section class="three-col-container main-padding service-icons">
    <div class="stack-order">
        <img alt="Human illustration facing right" src="/images/illustrations/human-right.svg">
    </div>
    <!-- Concierge -->
    <div>
        <span class="fa-stack fa-2x">
            <i class="fas fa-circle fa-stack-2x" style="color: #487ab2;"></i>
            <i class="fas fa-concierge-bell fa-stack-1x fa-inverse"></i>
        </span>
        <h4>Property Concierge</h4>
        <p>We understand that sometimes you need human interaction. With your property concierge available 24/7, you can be rest assured that any issue will be taken care in a timely and professional manner. </p> 
    </div>

    <div>
        <span class="fa-stack fa-2x">
            <i class="fas fa-circle fa-stack-2x" style="color:#487ab2;"></i>
            <i class="fas fa-money-bill fa-stack-1x fa-inverse"></i>
        </span>
        <h4>Online Rental Payments</h4>
        <p>With Ziprent, prospective tenants can select a time that works for them and we will send them a unique code for them to open up a lockbox and view the property. </p>
    </div>

    <div>
        <span class="fa-stack fa-2x">
            <i class="fas fa-circle fa-stack-2x" style="color:#487ab2;"></i>
            <i class="fas fa-toolbox fa-stack-1x fa-inverse"></i>
        </span>
        <h4>Rental Maitenance</h4>
        <p>We provide tenants the ability to submit maintenance request online. From there we gather quotes from our network of qualified experts and provide you with several options to choose from.
        </p> 
    </div>

    <div>
        <span class="fa-stack fa-2x">
            <i class="fas fa-circle fa-stack-2x" style="color:#487ab2;"></i>
            <i class="fas fa-check-circle fa-stack-1x fa-inverse"></i>
        </span>
        <h4>Rent Guarantee</h4>
        <p>Guaranteed rent on the 1st business day of the month directly into your bank account. Quick and easy. </p>
    </div>
    
    <div>
        <span class="fa-stack fa-2x">
            <i class="fas fa-circle fa-stack-2x" style="color:#487ab2;"></i>
            <i class="fas fa-headset fa-stack-1x fa-inverse"></i>
        </span>
        <h4>24/7 Customer Support</h4>
        <p>Our customer support team is available 24/7 for your or your tenants. Whatever the issue, rest assured it will be handle with great detail and efficiency.</p> 
    </div>
</section>
<!-- Bottom CTA -->
<%= partial 'partials/bottom-cta' %>





