---
title: How it works | Ziprent
description: add
---

<section class="two-col--hero">
    <!-- Update this class -->
    <div class="homepage-hero--cta">
        <h1>Transparent Property Management</h1>
        <div class="input-row homepage-input">
            <input placeholder="Enter Your Address">
        <button class="btn btn-primary">Get Started</button>
        </div> 
    </div>
    <!-- Update this Class -->
    <div class="homepage-hero--graphic">
        <img src="images/illustrations/homepage-main-graphic.png" alt="Main property management graphic">
    </div>
</section>

<!-- Property Submittal -->
<section class="main-padding two-col--container">
    <div>
        <h2>Submit Your Property</h2>
        <p>Write a little paragraph about property submittal</p>
    </div>
    <div>
        insert an image here
    </div>
</section>

<!-- Property Concierge -->
<section class="main-padding two-col--container">
    <div class="stack-order">
        insert an image here
    </div>
    <div>
        <h2>Personal Property Concierge</h2>
        <p>Once you property has been submitted, your personal property concierge will reach out and discuss your needs.</p>
    </div>
</section>

<!-- Tenant Placement -->
<section class="main-padding two-col--container">
    <div>
        <h2>Tenant Placement</h2>
        <p>Overview about how we conduct tenant placement. Pull from current site.</p>
    </div>
    <div>
        insert an image here
    </div>
</section>

<!-- Property Management -->
<section class="main-padding two-col--container">
    <div class="stack-order">
        insert an image here
    </div>
    <div>
        <h2>Property Management</h2>
        <p>Talk about rent collection (fast ach payments), maintenance requests, rental guarantee</p>
    </div>
</section>




