---
title: Property Management Services | Ziprent
description: add
layout: main
---

<section class="single-col-center main-padding large-paragraph grad-bg-3">
    <h1> See what we offer</h1>
    <p>Whether you need full on property management or just need help finding a tenant for your property, at Ziprent we got your covered. Everything from your own personal property concierge to automated lease generation, we've got the tools to handle any given situation.</p>
</section>

<!-- Outlining property maitenance-->
<section class="single-col-center main-padding">
    <h2>Managing your property</h2>
    <p>We've developed the perfect set of solutions to handle any type of property management. Whether it be a single family home or a multi-family buiding, we can manage it efficiency with the utmost transparancy.</p> 
</section>

<section class="three-col-container main-padding service-icons">
    <div class="stack-order">
        <img alt="Human illustration facing right" src="/images/illustrations/human-right.svg">
    </div>
    <!-- Concierge -->
    <div>
        <span class="fa-stack fa-2x">
            <i class="fas fa-circle fa-stack-2x" style="color: #487ab2;"></i>
            <i class="fas fa-concierge-bell fa-stack-1x fa-inverse"></i>
        </span>
        <h4>Property Concierge</h4>
        <p>We understand that sometimes you need human interaction. With your property concierge available 24/7, you can be rest assured that any issue will be taken care in a timely and professional manner. </p> 
    </div>

    <div>
        <span class="fa-stack fa-2x">
            <i class="fas fa-circle fa-stack-2x" style="color:#487ab2;"></i>
            <i class="fas fa-money-bill fa-stack-1x fa-inverse"></i>
        </span>
        <h4>Online Rental Payments</h4>
        <p>With Ziprent, prospective tenants can select a time that works for them and we will send them a unique code for them to open up a lockbox and view the property. </p>
    </div>

    <div>
        <span class="fa-stack fa-2x">
            <i class="fas fa-circle fa-stack-2x" style="color:#487ab2;"></i>
            <i class="fas fa-toolbox fa-stack-1x fa-inverse"></i>
        </span>
        <h4>Rental Maitenance</h4>
        <p>We provide tenants the ability to submit maintenance request online. From there we gather quotes from our network of qualified experts and provide you with several options to choose from.
        </p> 
    </div>

    <div>
        <span class="fa-stack fa-2x">
            <i class="fas fa-circle fa-stack-2x" style="color:#487ab2;"></i>
            <i class="fas fa-check-circle fa-stack-1x fa-inverse"></i>
        </span>
        <h4>Rent Guarantee</h4>
        <p>Guaranteed rent on the 1st business day of the month directly into your bank account. Quick and easy. </p>
    </div>
    
    <div>
        <span class="fa-stack fa-2x">
            <i class="fas fa-circle fa-stack-2x" style="color:#487ab2;"></i>
            <i class="fas fa-headset fa-stack-1x fa-inverse"></i>
        </span>
        <h4>24/7 Customer Support</h4>
        <p>Our customer support team is available 24/7 for your or your tenants. Whatever the issue, rest assured it will be handle with great detail and efficiency.</p> 
    </div>
</section>


<!-- Outlining tenant placement services-->
<section class="single-col-center main-padding">
    <h2>Getting your property filled</h2>
    <p>Our tenant placement product aims to embody our mission by incorporating on-demand showings, same day application processing and instant lease generation. Our platform will list a property, show it, verify the applicant, sign a lease and collect a security deposit in less than 24 hours.</p>
</section>

<section class="three-col-container main-padding service-icons">
    <div>
        <span class="fa-stack fa-2x">
            <i class="fas fa-circle fa-stack-2x" style="color:#7D8CC4;"></i>
            <i class="fas fa-user-check fa-stack-1x fa-inverse"></i>
        </span>
        <h4>Tenant Screening</h4>
        <p>We thoroughly vet all prospective tenants who apply for our properties with both a background and credit check. We surface this information clearly to our homeowners maintaining transparent communication</p> 
    </div>

    <div>
        <span class="fa-stack fa-2x">
            <i class="fas fa-circle fa-stack-2x" style="color: #7D8CC4;"></i>
            <i class="far fa-calendar-check fa-stack-1x fa-inverse"></i>
        </span>
        <h4>On-Demand Showings</h4>
        <p>No longer do you have to coordinate schedules with prospective tenants. With Ziprent, prospective tenants can select a time that works for them and we will send them a unique code for them to open up a lockbox and view the property. </p> 
    </div>

    <div>
        <span class="fa-stack fa-2x">
            <i class="fas fa-circle fa-stack-2x" style="color:#7D8CC4;;"></i>
            <i class="fas fa-images fa-stack-1x fa-inverse"></i>
        </span>
        <h4>Professional Photography</h4>
        <p>We have curranted a network of photographers to use for your property. We can guarantee that your property will look absolutely stunning. Having high-quality, extensive photos of your property decreases the time it takes to find the perfect tenant.</p> 
    </div>

    <div>
        <span class="fa-stack fa-2x">
            <i class="fas fa-circle fa-stack-2x" style="color:#7D8CC4;;"></i>
            <i class="fas fa-list-alt fa-stack-1x fa-inverse"></i>
        </span>
        <h4>Property Listings</h4>
        <p>We’ve partnered with over 20 listing sites, such as Zillow, Trulia, Co-Star Network, and Craigslist. We have set out to ensure all our properties receive the proper exposure to potential qualified tenants.</p> 
    </div>

    <div>
        <span class="fa-stack fa-2x">
            <i class="fas fa-circle fa-stack-2x" style="color:#7D8CC4;;"></i>
            <i class="fas fa-file-contract fa-stack-1x fa-inverse"></i>
        </span>
        <h4>Lease Generation</h4>
        <p>When a tenant is select we automatically generate a lease agreement to be signed by both parties. It is as easy as that.</p> 
    </div>

    <div>
        <img alt="Human illustration facing left" src="/images/illustrations/human-left.svg">
    </div>
</section>

<!-- Bottom CTA -->
<%= partial 'partials/bottom-cta' %>





