---
title: How it works | Ziprent
description: add
---

<section class="two-col--hero main-padding">

    <!-- Update this class -->
    <div class="two-col--cta">
        <h1>Transparent Property Management</h1>
        <p>Ziprent removes any of the uncertainty when it comes to managing your property. </p>
        <div class="input-row homepage-input">
            <input placeholder="Enter Your Address">
        <button class="btn btn-primary">Get Started</button>
        </div> 
    </div>
    <!-- Update this Class -->
    <div class="two-col--graphic">
        <img src="/images/illustrations/property-devices.png" alt="Example of ziprent software">
    </div>
</section>

<!-- Property Submittal -->
<section class="main-padding two-col--container">
    <div>
        <h2>Submit Your Property</h2>
        <p><%= lorem.sentences 5 %></p>
    </div>
    <div>
        insert an image here
    </div>
</section>

<!-- Property Concierge -->
<section class="main-padding two-col--container">
    <div class="stack-order">
        insert an image here
    </div>
    <div>
        <h2>Personal Property Concierge</h2>
        <p><%= lorem.sentences 5 %></p>
    </div>
</section>

<!-- Tenant Placement -->
<section class="main-padding two-col--container">
    <div>
        <h2>Tenant Placement</h2>
        <p><%= lorem.sentences 5 %></p>
    </div>
    <div>
        insert an image here
    </div>
</section>

<!-- Property Management -->
<section class="main-padding two-col--container">
    <div class="stack-order">
        insert an image here
    </div>
    <div>
        <h2>Property Management</h2>
        <p><%= lorem.sentences 5 %></p>
    </div>
</section>




